/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TESTO */
body * {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    margin-block: 3rem;
    font-size: 5rem;
    text-align: center;
    color: white;
}

/* STRUTTURA */
html,
body {
    width: 100%;
    height: 100vh;
}

body {
    background: #0f0c29;  /* fallback */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

/* ELEMENTI */
/* ----------------- TASK BOX -----------------*/
.task-box {
    margin: 0 auto;
    padding: 2rem;
    width: 40%;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
}

.task-box .task {
    padding: 1rem 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.task-box .task:first-child {
    padding: 0 0.5rem 1rem;
}

.task-box .task:last-child {
    padding: 1rem 0.5rem 0;
    border: none;
}

.task-box .task.done {
    font-weight: 400;
    text-decoration: line-through;
    color: #82b1ff;
}

/* ----------------- INPUT BOX -----------------*/
form {
    display: flex;
    margin: 2rem auto;
    height: 4rem;
    width: 40%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
}

.input-box {
    flex-grow: 1;
    padding-left: 2rem;
    border-radius: 15px 0 0 15px;
    background-color: white;
}

.input-box input {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    border: none;
    outline: none;
}

.btn-box {
    display: flex;
    justify-content: center;
    width: 20%;
    border-radius: 0 15px 15px 0;
    overflow: hidden;
}

.btn-box button {
    width: 100%;
    font-size: 1rem;
    color: white;
    border: none;
    background-color: #0f0c29;
    cursor: pointer;
}

.btn-box button:hover {
    background-color: #283593;
}