<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" href="css/style.css">

        <title>PHP ToDo List JSON</title>
    </head>
    <body>
        <div id="app">

            <h1>TO DO LIST</h1>

            <div class="task-box">
                <div
                    v-for="task in taskList"
                    class="task"
                    :class="{
                        done: task.done
                    }"
                >
                    <p>{{task.taskName}}</p>
                </div>
            </div>

            <form @submit.prevent>
                <div class="input-box">
                    <input
                        type="text"
                        placeholder="Inserisci una nuova task"
                        v-model="newTask"
                    >
                </div>
                <div class="btn-box">
                    <button type="submit">Aggiungi</button>
                </div>
            </form>
        </div>
        <!-- JS -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>